jamn_homepage:
     path:  /
     defaults: { _controller: JAMNotasFrontendBundle:Notas:index }
     methods: [GET]

jamn_conetiqueta:
     path:  /conetiqueta/{etiqueta}
     defaults: { _controller: JAMNotasFrontendBundle:Notas:index }
     methods: [GET]
     requirements:
         id:  \d+

jamn_buscar:
     path:  /buscar
     defaults: { _controller: JAMNotasFrontendBundle:Notas:index, etiqueta: termino }
     methods: [POST]

jamn_nota:
     path:  /nota/{id}
     defaults: { _controller: JAMNotasFrontendBundle:Notas:index }
     methods: [GET]
     requirements:
         id:  \d+

jamn_nueva:
     path:  /nueva
     defaults: { _controller: JAMNotasFrontendBundle:Notas:nueva }

jamn_editar:
     path:  /editar/{id}
     defaults: { _controller: JAMNotasFrontendBundle:Notas:editar }
     requirements:
       id:  \d+

jamn_borrar:
     path:  /borrar/{id}
     defaults: { _controller: JAMNotasFrontendBundle:Notas:borrar }
     requirements:
       id:  \d+

jamn_espacio_premium:
     path: /miespacio
     defaults: { _controller: JAMNotasFrontendBundle:Notas:espacioPremium }

jamn_rss:
     path:  /rss
     defaults: { _controller: JAMNotasFrontendBundle:Notas:rss }
     methods: [GET]
     requirements:
       _format: xml

jamn_registro:
     path:  /registro
     defaults: { _controller: JAMNotasFrontendBundle:Login:registro }

jamn_activar_cuenta:
     path:  /activar/{token}
     defaults: { _controller: JAMNotasFrontendBundle:Login:activar }

jamn_tarifas:
     path:  /tarifas
     defaults: { _controller: JAMNotasFrontendBundle:Contratos:tarifasPremium }
     methods: [GET]

jamn_contratar:
     path:  /contratar
     defaults: { _controller: JAMNotasFrontendBundle:Contratos:contratarPremium }